.postContainer .galaryScroller{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    /* border: 2px solid red; */
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}

.postContainer .galaryScroller .postImage{
    max-width: 90%;
    margin-right: 8px;
    scroll-snap-align: start;
}

/* same as feed post till now */

.galaryPostContainer {
    margin: auto;
    margin-bottom: 15px;
    max-width: 95%;
    overflow: hidden;
    /* border: 2px solid var(--white); */
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.218);
    /* border-radius: 12px; */
  }
  .galaryPostContainer .text{
    padding: 10px 12px;
  }
  .galaryPostContainer .postTitle {
    font-size: 24px;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
  }
  .galaryPostContainer .postImage {
    width: 100%;
    aspect-ratio: 4/3;
  }
  .galaryPostContainer .contentToHide {
    text-align: justify;
    font-size: 17px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 1s;
  }
  .galaryPostContainer a {
    color: orange;
  }
  .galaryPostContainer .toggleRead {
    display: inline-block;
    padding: 0px 5px;
    border-radius: 10px;
    border: 2px solid var(--white);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
  }
  .tabLoadMoreBtn {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--white);
    font-size: 16px;
  }
  