.postContainer .galaryScroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  position: relative;
  width: 100%;
}

.postContainer .galaryScrollerContainer{
  position: relative;
}

.postContainer .galaryScrollerContainer .scrollBtn{
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.593);
  width: 40px;
  aspect-ratio: 1;
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}
.postContainer .galaryScrollerContainer .rightBtn{
  bottom: 40%;
  right: 0;
}
.postContainer .galaryScrollerContainer .leftBtn{
  bottom: 40%;
  left: 0;
}

.postContainer .galaryScroller::-webkit-scrollbar{
  display: none;
}
.postContainer .galaryScroller{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.postContainer .galaryScroller .galaryImageContainer {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  width: 90% !important;
  padding-top: 67.5% !important;
}
