#createPostBackButton{
    font-size: 20px;
    color: var(--white);
    padding: 2px 4px;
    border-radius: 10px;
    border: 2px solid var(--white);
    cursor: pointer;
}

#createPostHeader{
    color: var(--white);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--white);
    margin: 30px 10px;
    display: inline-block;
}

.createPostSelectMenu{
    font-size: 20px;
    color: var(--white);
}
.createPostSelectMenu select{
    font-size: 18px;
    margin: 10px;
    padding: 2px 10px;
    border: none;
    border-radius: 8px;
    /* width: 200px; */
}
.createPostSelectMenu button{
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    display: block;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.registerError{
    color: red;
}

.councilCreateForm{
    border: 2px solid var(--white);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: auto;
    /* margin-top: 20px; */
}

.councilCreateForm input[type="text"], textarea{
    width: 100%;
    border: none;
    /* margin: 20px 0; */
    padding: 5px;
    border-radius: 10px;
}

.councilCreateForm input[type="text"]{
    font-size: 20px;
}

.councilCreateForm input[type="file"]{
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
}

.councilCreateForm label{
    font-size: 18px;
    display: block;
    text-align: left;
    color: var(--white);
}

.councilCreateForm input[type="file"]::file-selector-button{
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin-bottom: 10px; */
}

.councilCreateForm .addMore{
    border: 2px solid var(--white);
    color: var(--white);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.councilCreateForm textarea{
    font-size: 18px;
    resize:vertical;
    min-height: 300px;
}

.councilCreateForm input[type="submit"]{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--white);
    font-weight: bold;
    border: none;
    cursor: pointer;
    max-width: 200px;
    margin: auto;
}

.councilCreateForm select {
    font-size: 16px;
    padding: 5px 10px;
    width: 150px;
    border: none;
    border-radius: 8px;
}

#notLoggedIn{
    font-size: 18px;
    color: var(--white);
}

@media screen and (max-width: 550px) {
    .councilCreateForm{
        border: none;
    }
}