.councilTab .divisionType {
  font-size: 20px;
  display: inline-block;
  padding: 3px 20px;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  margin: auto;
  max-width: 200px;
  margin-top: 20px;
}

.councilPostContainer {
  flex: 1;
  margin: auto;
  margin-top: 10px;
  max-width: 350px;
  min-width: 300px;
  overflow: hidden;
  background-color: var(--tab-card-bg);
}

.councilPostContainer .councilPostName{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid white;
    display: inline-block;
    padding: 5px 20px 3px 20px;
}

.councilPostContainer .position{
    font-size: 20px;
    display:  block;
    padding: 5px 20px 3px 20px;
}

.councilPostContainer .imageContainer {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}

.councilPostContainer .imageContainer .councilCardBg{
    position: absolute;
    filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.councilPostContainer .imageContainer .councilPostImage {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid white;
  object-fit: cover;
}

.councilPostContainer .councilPostName{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid var(--white);
    display: inline-block;
    padding: 5px 20px 3px 20px;
}

.councilPostContainer .position{
    font-size: 20px;
    display:  block;
    padding: 5px 20px 3px 20px;
}

.councilPostContainer .contact{
    /* border: 2px solid red; */
    padding: 10px 0;
}