.hostelHomePage{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hostelHomePage::-webkit-scrollbar{
    display: none;
}