.tabPosts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0px;
  max-width: 100%;
  margin: auto;
}
.postContainer {
  margin: auto;
  margin-top: 0;
  width: 93%;
  /* width: 27vw; */
  background-color: var(--tab-card-bg);
}
.postContainer .text {
  padding: 10px 12px 12px 12px;
}

.postContainer .postTitle {
  font-size: 24px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}
.postContainer .imageContainer {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 75%; /* 4:3 aspect ratio (height/width * 100) */
  overflow: hidden;
}
.postContainer .postImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postContainer .contentToHide {
  text-align: justify;
  font-size: 17px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all .7s;
}
.postContainer a {
  color: var(--tab-link-color);
}
.postContainer .toggleRead {
  display: inline-block;
  padding: 0px 5px;
  border-radius: 10px;
  border: 2px solid var(--read-more-border-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
  user-select: none;
  cursor: pointer;
}
.tabLoadMoreBtn {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--load-more-bg);
  border: 1px solid var(--load-more-border-color);
  color: var(--load-more-color);
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

@media screen and (max-width: 1050px) and (min-width: 850px) {
}

@media screen and (max-width: 850px) and (min-width: 550px) {
  .tabPosts{
    grid-template-columns: repeat(1, 1fr);
    min-width: 480px;
    max-width: 70%;
  }
  .postContainer{
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .tabPosts{
    display: flex;
    flex-direction: column;
    max-width: 96%;
  }
  .postContainer{
    width: 100%;
  }
}