.postContainer {
  margin: auto;
}
.postContainer .postTitle {
  font-size: 24px;
}

.postContainer .postImage {
  max-width: 100%;
  aspect-ratio: 16/9;
}

/* #tabContainer{
    border: 2px solid red;
}

.tab{
    border: 2px solid yellow;
} */

@media screen and (max-width: 550px) {
  #tabContainer {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    overflow: hidden;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }
  #tabContainer .tabName {
    margin: 8px;
    margin-left: 10px;
    margin-right: 100%;
    font-size: 22px;
    padding: 3px 18px;
    border-radius: 15px;
    background-color: var(--white);
    color: var(--black);
    display: inline-block;
  }
  .tab {
    flex-shrink: 0;
    scroll-snap-align: center;
    color: var(--white);
    width: 100vw;
    min-height: 100vh;
    /* min-height: 100px; */
    /* border: 2px solid white; */
  }
  .postContainer {
    /* margin-top: 5px; */
    margin-bottom: 8px;
    padding: 12px;
    padding-bottom: 0px;
    max-width: 96%;
    overflow: hidden;
    /* border-bottom: 2px solid var(--white);
    border-top: 2px solid var(--white); */
    border: 2px solid var(--white);
    border-radius: 12px;
  }
  .postContainer .postTitle {
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    /* border-bottom: 2px solid white;
    border-radius: 10px; */
  }
  .postContainer .postImage {
    margin: 10px 0;
    border-radius: 10px;
  }
  .postContainer .contentToHide {
    text-align: justify;
    font-size: 17px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 1s;
  }
  .postContainer .toggleRead {
    display: inline-block;
    padding: 0px 5px;
    border-radius: 10px;
    border: 2px solid var(--white);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
  }
}
