.GCTabPosts {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: 10px 100px;
}

.gcPostContainer .gcPostScore {
  font-size: 18px;
}
.gcPostContainer .gcTeamDetails {
  text-align: center;
}
