.footerNav {
  display: none;
}

@media screen and (max-width: 550px) {
  .footerNav {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--navbar-bg);
    padding: 4px 0px;
    justify-content:space-evenly;
    align-items: center;
    font-size: 21px;
    width: 100%;
    /* border-radius: 20px; */
  }
  .footerNav input {
    display: none;
  }
  .footerNav label{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 20px;
    user-select: none;
    min-width: 70px;
  }
  .footerNav input:checked + label {
    background-color: var(--background-color);
    color: var(--white);
    transition: all .3s ;
  }
  .footerNavMargin{
    display: inline-block;
    width: 100vw;
    height: 50px;
    /* border: 2px solid red; */
  }
}
