.footerNav {
  display: none;
}

#tabContainer {
 
}
#tabContainer .tabName {
  display: inline-block;
  padding: 0px 20px;
  margin: 10px;
  font-size: 25px;
  background-color: var(--tabname-bg);
  color: var(--tabname-color);
  font-weight: bold;
  border-radius: 20px;
}
.tab {
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  /* border: 2px solid white; */
  width: 90%;
  color: var(--tab-text-color);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--tab-divider-color);
  /* padding: 10px; */
}

@media screen and (max-width: 850px) and (min-width: 550px) {
  #tabContainer {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  #tabContainer .tabName {
    display: none !important;
    margin: 8px;
    margin-left: 10px;
    margin-right: 100%;
    text-wrap: nowrap;
    font-size: 22px;
    padding: 3px 18px;
    border-radius: 15px;
    display: inline-block;
  }
  .tab {
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 100vw;
    min-height: 100vh;
    border: none;
    /* min-height: 100px; */
    /* border: 2px solid white; */
  }
  .footerNav {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 110px;
    background-color: var(--navbar-bg);
    padding: 0 0px 10px 0;
    justify-content:center;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    width: 100%;
    /* border-radius: 20px; */
    background-color: var(--navbar-bg);
    backdrop-filter: blur(10px);
  }
  .footerNav input {
    display: none;
  }
  .footerNav label{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    user-select: none;
    min-width: 70px;
    color: var(--footer-text-color);
  }
  .footerNav input:checked + label {
    background-color: var(--footer-selected-bg);
    color: var(--footer-selected-color);
    transition: all .3s ;
  }
  .footerNavMargin{
    display: inline-block;
    width: 100vw;
    height: 50px;
    /* border: 2px solid red; */
  }
}

@media screen and (max-width: 550px) {
  #tabContainer {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  #tabContainer .tabName {
    margin: 8px;
    margin-left: 10px;
    margin-right: 100%;
    text-wrap: nowrap;
    font-size: 22px;
    padding: 3px 18px;
    border-radius: 15px;
    display: inline-block;
  }
  .tab {
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 100vw;
    min-height: 100vh;
    border: none;
    /* min-height: 100px; */
    /* border: 2px solid white; */
  }
  .footerNav {
    display: flex;
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: var(--navbar-bg);
    padding: 4px 0px;
    justify-content:space-evenly;
    align-items: center;
    font-size: 21px;
    width: 100%;
    /* border-radius: 20px; */
    background-color: var(--navbar-bg);
    backdrop-filter: blur(10px);
  }
  .footerNav input {
    display: none;
  }
  .footerNav label{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 20px;
    user-select: none;
    min-width: 70px;
    color: var(--footer-text-color);
  }
  .footerNav input:checked + label {
    background-color: var(--footer-selected-bg);
    color: var(--footer-selected-color);
    transition: all .3s ;
  }
  .footerNavMargin{
    display: inline-block;
    width: 100vw;
    height: 50px;
    /* border: 2px solid red; */
  }
}