@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
  
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;

    /* navbar */
    --navbar-bg: white;
    --navbar-hostelname-color: black;
    --navbar-links-color: black;

    --text-color-1: black;

    --menu-icon-width: 80%;
    --menu-icon-height: 7%;
    --menu-icon-border-radius: 10px;
    --menu-icon-center-color: black;
    --menu-icon-exteme-color: var(--menu-icon-center-color);
    --menu-transition-time: 0.5s;

    --white: white;
    --black: black;
    --background-color: black;
    /* rgb(186, 186, 186); */

    /* home page */
    --home-page-heading-size: 50px;
    --home-page-description-size: 21px;

    /* tabs */
    --tabname-bg: white;
    --tabname-color: black;
    --tab-text-color: black;
    --tab-link-color: blue;
    --tab-card-bg: white;
    --tab-divider-color: black;

    /* galaryPost */
    --galary-scroller-btn-bg: rgba(0, 0, 0, 0.644);
    --galary-scroller-btn-color: white;

    /* load more and read more buttons */
    --load-more-bg: rgb(70,70,70);
    --load-more-border-color: none;
    --load-more-color: white;
    --read-more-border-color: white;

    /* footer navigation */
    --footer-text-color: black;
    --footer-selected-color: white;
    --footer-selected-bg: rgb(70,70,70);
  }