@media screen and (min-width: 551px) {
  .messMenuPost {
  }
  .messMenuPostContainer {
    width: 100%;

    overflow: hidden;
  }
  .messMenuDayContainer {
    /* border: 2px solid red; */
    min-width: 200px;
    background: none;
  }
  .messMenuPostTitle{
    display: inline-block;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 23px !important;
    /* border: 2px solid red !important; */
  }
  .messMenuDayName {
    display: inline-block;
    /* border: 2px solid yellow; */
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 2px 10px;
    border-radius: 15px;
    margin-top: 10px;
  }
  .messMenuMealSlot {
    /* border: 2px solid green; */
    display: inline-block;
    padding: 5px 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 15px;
  }
  .messMenuMeal {
    /* border: 2px solid blue; */
  }
}

@media screen and (max-width: 550px) {
  .messMenuPostContainer {
    border: none;
    padding: 0 15px;
    background-color: transparent !important;
  }

  .messMenuPostContainer .messMenuDayContainer {
    /* border: 2px solid red; */
    margin-top: 20px;
    /* border-top-left-radius: 20px; */
    border-radius: 20px;
    /* border-top-right-radius: 0;
      border-bottom-left-radius: 0; */
    border-top: 2px solid white;
    /* border-bottom: 2px solid white; */
    /* border-right: 2px solid transparent; */
    /* border: 2px solid white; */
  }

  .messMenuPostContainer .messMenuDayName {
    /* border: 2px solid yellow; */
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--white);
    color: var(--black);
  }

  .messMenuPostContainer .messMenuMealSlot {
    /* border: 2px solid lightblue; */
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    /* text-decoration: underline; */
    background-color: var(--white);
    color: var(--black);
  }

  .messMenuPostContainer .messMenuMeal {
    /* border: 2px solid green; */
    font-size: 17px;
  }
}
